---
http_interactions:
  - request:
      method: post
      uri: https://exp.host/--/api/v2/push/getReceipts
      body:
        encoding: UTF-8
        # Fake body
        string: '{"ids":["019b909b-e55c-7a0a-8ec5-ce89977b34b6"]}'
      headers:
        Content-Type:
          - application/json
    response:
      status:
        code: 400
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Etag:
          - '"41-NDciREoT4+eQ0+onbPaV0ETChwE"'
      body:
        encoding: UTF-8
        string: '{"errors":[{"code":"PUSH_TOO_MANY_RECEIPTS","type":"USER","message":"You can request a maximum of 1000 receipts per request (received 1001); divide your requests.","isTransient":false,"requestId":"31b68659-86a7-430c-891c-82076ec5c67a"}]}'
    recorded_at: Tue, 06 Jan 2026 13:39:25 GMT
recorded_with: VCR 6.4.0
