---
http_interactions:
- request:
    method: post
    uri: https://exp.host/--/api/v2/push/send
    body:
      encoding: UTF-8
      string: '[{"to":["x","x","x","x","x","x","x","x","x","x","x","x","x","x","x","x","x","x","x","x","x","x","x","x","x","x","x","x","x","x","x","x","x","x","x","x","x","x","x","x","x","x","x","x","x","x","x","x","x","x","x","x","x","x","x","x","x","x","x","x","x","x","x","x","x","x","x","x","x","x","x","x","x","x","x","x","x","x","x","x","x","x","x","x","x","x","x","x","x","x","x","x","x","x","x","x","x","x","x","x","x"],"body":"Test
        body"}]'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"errors":[{"code":"VALIDATION_ERROR","type":"USER","message":"\"0.to\":
        String must contain at most 100 character(s).","isTransient":false,"requestId":"9763c6fd-faba-4ee9-9de9-07f84840e362"}]}'
  recorded_at: Tue, 06 Jan 2026 12:55:56 GMT
recorded_with: VCR 6.4.0
