---
http_interactions:
- request:
    method: post
    uri: https://exp.host/--/api/v2/push/send
    body:
      encoding: UTF-8
      string: '[{"to":["ExponentPushToken[J58oHWJwFIfCiY1ZAUd8tI]"],"data":{"order_id":123},"title":"Test
        title","body":"Test body"}]'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"46-NS0iP6mq8vO1YUoQFO5YnrFlrYA"'
    body:
      encoding: UTF-8
      string: '{"data":[{"status":"ok","id":"019b909b-e55c-7a0a-8ec5-ce89977b34b6"}]}'
  recorded_at: Tue, 06 Jan 2026 00:01:34 GMT
recorded_with: VCR 6.4.0
