---
http_interactions:
- request:
    method: post
    uri: https://exp.host/--/api/v2/push/send
    body:
      encoding: UTF-8
      string: '[{"to":["ExponentPushToken[J58oHWJwFIfCiY1ZAUd8tI]","ExponentPushToken[xd]"],"data":{"order_id":123},"title":"Test
        title","body":"Test body"}]'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"f0-28W1o/tsl5UOjZka/bpGz1EwemQ"'
    body:
      encoding: UTF-8
      string: '{"data":[{"status":"ok","id":"019b9339-aa4e-7e7e-84ac-840ee072e57e"},{"status":"error","message":"\"ExponentPushToken[xd]\"
        is not a valid Expo push token","details":{"error":"DeviceNotRegistered","expoPushToken":"ExponentPushToken[xd]"}}]}'
  recorded_at: Tue, 06 Jan 2026 12:13:08 GMT
recorded_with: VCR 6.4.0
